:root {
  --background: #ffffff;
  --foreground: #171717;
  --basic-font-color: #d0d9de;
    --basic-font-size: 20px;
    --basic-font-family: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

header {
  text-align: center;
  font-size: 18px;
  padding: 20px;
  position: center;
  color: var(--basic-font-color);
}

footer {
  text-align: center;
  font-size: 10px;
  padding: 20px;
  position: center;
  color: var(--basic-font-color);
  bottom: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.whiteGrid {
  font-family: var(--basic-font-family);
  font-size: var(--basic-font-size);
  color: #000000;
  line-height: 1.6;
  background-color: #d7d7d7;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}
